*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #0f0c29,#302b63,#24243e);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.card{
    width: 320px;
    padding: 2rem;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.card::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}